# Hidden files
.*
!.gitignore
!.gitlab-ci.yml
!.readthedocs.yaml

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
/doc/_generated
