# Hidden files
.*
!.gitignore
!.github
!.readthedocs.yaml

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Temporary files
/conversion_examples/*/*new*

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
/doc/_generated
/doc/_static/*.h5
